/*
Styles for Etch-a-Sketch
by Riley Tyler
*/


/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Grid Styles */
body {
    background-color:crimson;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: white;
    margin: 4%;
    text-shadow: 4px 4px 12px black;
}

p {
    margin: 4%;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    background-color: white;
    border: 2px solid black;
    box-shadow:  1px 1px 4px black;
    touch-action: manipulation;
    max-width: 512px;
    max-height: 512px;
    aspect-ratio: 1;
    gap: 0;
    margin-bottom: 2%;
    margin-top: 2%;
    cursor: crosshair;
    -webkit-user-drag: none;
}

.grid-div-item {
    flex: 1 0 calc(100% / var(--grid-size));
    height: calc(100% / var(--grid-size));
    background-color: black;
}

/* Input Styles */
#controls-container {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-evenly;
}

button {
    background-color: white;
    border-radius: 16px;
    border: none;
    padding: 8%;
    margin: 2%;
    transition: 0.5s;
}

button:hover {
    background-color: red;
    color: white;
    transition: 0.5s;
}

#grid-controls-container {
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: rgb(255,255,255, 0.1);
    border: 2px solid rgb(255,255,255, 0.1);
    border-radius: 8px;
    box-shadow:  1px 1px 12px black;
    padding: 2%;
}

#paint-options-container {
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: rgb(255,255,255, 0.1);
    border: 2px solid rgb(255,255,255, 0.1);
    border-radius: 8px;
    box-shadow:  1px 1px 12px black;
    padding: 2%;
}

#paint-intensity-container {
    margin: 4%;
}

#paint-color-container {
    margin: 4%;
}